<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="2" parallel="tests">
	<test name="ChromeTest">
		<parameter name="Browser" value="Chrome" />
		<classes>
			<class name="CrossBrowser">
			</class>
		</classes>
	</test>
	<test name="FirefoxTest">
		<parameter name="Browser" value="Firefox" />
		<classes>
			<class name="CrossBrowser">
			</class>
		</classes>
	</test>
</suite>